.burger-menu
  input(id="menu__toggle" type="checkbox")
  //- input(id="menu__toggle2" type="checkbox")
  .burger-menu-overlay
    label(class="menu__btn" for="menu__toggle")
      span 
    nav
      ul.menu__box
        li.menu__box__list
          a(href="#page2")
            | Преимущества
        li.menu__box__list
          a(href="#page3")
            | характеристики
        li.menu__box__list
          a(href="#page4")
            | для кого