.container
  .row
    a(href='#').logo
      img(src="./images/logo.png" alt="logo")
    ul.navigation
      li
        a(href="#page2").navigation__list
          | Преимущества
      li
        a(href="#page3").navigation__list
          | характеристики
      li
        a(href="#page4").navigation__list
          | для кого
main.clearfix
  .video.video-main.fl-r
    .video__poster.video__poster-main
    .video__player.video__player-center.video__player-sm
      span.play-button-container
        img(src="./images/play.png" class='play-button' alt="player controller")
    .video__player.video__player-left.video__player-top
      span.play-button-text смотреть видео
      span.play-button-container
        img(src="./images/play.png" class='play-button' alt="player controller")
    iframe(class="video-youtube" src='' frameborder="0" allowfullscreen width="100%" height="100%")
  .container.clearfix
    .row
      .main
        h1.main__title.js-split
          | Rizor
          br
          | Hovertrax 4.0
        p.main__desc
          | Маневренность, легкость,
          br
          span экологичность
        .main__arrow
          a(href='#page2')
            img(src='./images/arrow.png' class='main__arrow-down' alt='arrow down')