.poster.fl-r
.container.clearfix
  .row
    .content.content-mt-lg.content-wh
      h2.content__title.content-wh-title.js-split.js-title#content-title для кого
      p.content__desc.content-desc.content-pd-r#content-desc.
        При максимально выдерживаемой  нагрузке в 100 кг отлично подойдёт, 
        как для подрастающего поколения, 
        так и для более взрослых «наездников».
      p.content__desc.content-desc.content-pd-r#content-desc2.
        Это единственный гироскутер со специальным детским режимом езды.
      .content__button#content-button
        a(class="content__button-link" href='#') перейти в каталог