#pagination {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  z-index: 999;

  @include sm-block() {
    display: none;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 327px;
    background-color: $main-color;
    margin: auto;
  }

  li {
    position: relative;
    margin: 20px 0;
    background: $main-color;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    transition: all 0.2s ease;

    &:hover {
      border: 1px solid $main-color;
      transform: scale(1.5);

      a {
        background: #fff;
      }
    }
  }

  a {
    position: absolute;
    text-decoration: none;
    left: 0;
    top: 0;
    color: inherit;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

@for $i from 1 to 6 {
  &.page-#{$i} {
    #pagination li:nth-of-type(#{$i}) {
      @extend %active-dot;
    }
  }
}

%active-dot {
  background: #fff;
  border: 1px solid $main-color;
  transform: scale(1.5);
}
