<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Rizor Hovertax
  body
    header#page1
      include pug/burger
      include pug/header
    section#page2.section-advantage.clearfix.section
      include pug/advantages
    section#page3.section-feature.clearfix.section
      include pug/features
    section#page4.section-store.clearfix.section
      include pug/store
      include pug/pagination
    footer
      span.footer-text © All rights reserved, 2017



